@font-face {
  font-family: Poppins;
  src: url("./../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./../../assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: Poppins !important;
}




/*custom responsiveness*/
@media (min-width: 667.98px) {
	.width-toggle {
		width: 35%;
	}
	.width-toggle-2 {
		width: 75%;
		
	}
	.width-toggle-5{
		width:90%;
	}

	.width-toggle-3 {
		width: 50%;
	}
	.width-toggle-4{
		width:30%;
	}
	.width-toggle-7{
		width:40%;
	}
	.width-toggle-6{
		width:25%;
	}

	.width-toggle-dash{
		width:20%;
	}
	
	

}
